# ***Python Review***

Notebook developed by Kaz Gary

Adapted from slides by James Johnson

Today's notebook is designed to help you review the basics of Python! In this notebook you will:

* Learn about built-in data types and how to tell the difference between them
* Learn what conditional statements are and how to use them
* Learn how to code a loop
* Learn how to define and build a function in Python
* Learn how to import data from an text file using both Python basics and NumPy

## **Data Types**

### *Numeric Types*

What do we mean when we say 'numeric type'?  

Numeric types are just a fancy way of saying that numbers have to have data types to be intepreted by Python! There are two numeric types built in to Python:

* *int*: integers (ex. 1, 4, 89)
* *float*: real numbers (ex. 8.567, 132.90, 4.7)

It's important to note that some packages, such as NumPy, have their own built-in numeric types (ex. NumPy has it's own integer numeric type: numpy.int64)

#### Numeric Operations

Python operations that require numeric types:

* 	=, ==, +, -, *, /, //, %, +=, -=, *=, /=, //=, %=
    * (Recall: x += y is the same as x = x + y)
* / vs. //: true division vs. floor division (also called integer quotient)
    * 3 / 2 returns 1.5, but 3 // 2 returns 1
* %: modulo (calculates remainder)
    * 5 % 2 returns 1; 5 % 3 returns 2; 5 % 1 returns 0

### *Strings*

Simpy put, strings are text!

* To declare a string, use either single ‘’ or double “” quotes
* Triple quotes declare a multi-line string (This will come up again later)
* In Python 3, strings are unicode by default, meaning you can use special characters without changing anything

Strings are also compatible with the += operator! Here's an example to understand how to declare a string and use the += operator with it!

In [2]:
# Declare our variable as a string

x = "This is a "

In [3]:
# Use += operator to add another string to our variable

x += "test string."

In [4]:
# Now let's see what our variable is after using the += operator

x

'This is a test string.'

### *The Print Function*

In C/C++ print statements are done with *printf* in stdio.h, and *cout* in iostream

In Python, we can print things with the following statement:

* *print(things to print)*

Note: Parentheses are required in Python 3, but not Python 2 (which is deprecated so you shouldn’t be using it anyway)

You can pass multiple parameters separated by commas, and they’ll print with spaces between them. Let's see how that looks:

In [5]:
# Define variables

x = "Mark has"
y = 27
z = "apples."

In [6]:
# print multiple variables

print(x, y, z)

Mark has 27 apples.

### *Type Casting*

Python objects can be converted between compatible types!

* Strings containing numbers can be converted to numeric types
* Integers can be converted to floats and vice versa

Let's see how this works:

In [7]:
# Define our variable

x = "3"

x

'3'

In [8]:
# Covert our variable from a string to an integer

int(x)

3

In [9]:
# Convert our variable from an integer to a float

float(x)

3.0

In [10]:
# Let's redefine our variable as a float

x = 3.1

x

3.1

In [11]:
# Now let's convert from a float back into an integer

int(x)

3

In [12]:
# We can also just directly convert our number instead of defining it as a variable. Let's directly convert an integer back to a float.

float(3)

3.0

In [13]:
# By ending a number with a decimal point, we are specifically declaring it to be a float.
# Notice how this cell's output is the same as the one above.

3.

3.0

### *Import Statements*

Import statments are used to load a python library into your current code

* Analogous to *#include* and *using* in C/C++
* Can assign imported modules new names upon import with *from* and *as*
* *from ___ import* * imports all contents

Let's import some popular libraries:

In [14]:
import matplotlib.pyplot as plt
import numpy as np
from math import log10 as log
import sys

In [15]:
# Let's call some of these libraries using the names we assigned them!

log(10)

1.0

In [16]:
log(3)

0.47712125471966244

In [17]:
plt.figure()

### *List*

A list is a sequence of objects.

* Created with square brackets [ ]
* Can be any mix of types
* You can access an element of the sequence by its position
    * Negative indices start at the end of the list and count backwards (ex. list[-1] accesses the last index in the list)
    * Modification proceeds in the same manner
* Append function adds an element to the end
    * Can also use ‘+’ to combine lists

In [18]:
# Let's define a list:

example = [1, 2, "string", 3]

In [19]:
# Let's access the first index in the list (remember Python indices start at 0!)

example[0]

1

In [20]:
example[2]

'string'

In [21]:
# Let's use the append function to an element to the end of our list!

example.append("appended")

In [22]:
# Show the new list

example

[1, 2, 'string', 3, 'appended']

In [23]:
# Let's access the last index in the list

example[-1]

'appended'

### *Tuple*

A tuple is an *immutable* sequence of objects

* Created with parentheses ( )
* Can be any mix of types
* Access an element of the sequence by its position
    * Negative indices start at the end of the tuple and count backwards
    * Modification not allowed (immutability)
    * Can still use ‘+’ to add elements to the end (returns a new tuple)

In [24]:
# Let's make our previous list into a tuple

example = (1, 2, "string", 3)

In [25]:
# Let's index the tuple the same way we would the list

example[0]

1

In [26]:
example[2]

'string'

In [27]:
# Let's try to use the append function on a tuple:

example.append("appended")

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
# Remember! Tuples are immutable, meaning they can't be modified. We can't use the append function.
# Let's index the last element in the tuple

example[-1]

3

In [29]:
# Let's try and replace one of the elements in the tuple with a different one

example[1] = 1

TypeError: 'tuple' object does not support item assignment

In [30]:
# Let's try using the += operator instead

example += (4, 5)

In [31]:
example

(1, 2, 'string', 3, 4, 5)

### *Set*

A set is usually used to ensure uniqueness

* list(set(some_list)) will remove duplicate elements
* Created with the set() function or with {} enclosing elements (be careful w/this, see next section)
* Don’t allow indexing, so aren’t as commonly used as lists, tuples, and dictionaries
* Have some other useful function such as union and intersection (‘|’ and ‘&’)

In [32]:
# Let's test the functionality of set on a list

x = list(range(10))

x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
x[3] = 4

x

[0, 1, 2, 4, 4, 5, 6, 7, 8, 9]

In [34]:
list(set(x))

[0, 1, 2, 4, 5, 6, 7, 8, 9]

### *Dictionary*

A dictionary is python’s version of a *hash table*.

* Can be used to map objects to other objects
* Created with {}
* Stored values can be accessed via their key
* keys() function returns each key
* Popular method of storing data b/c keys can be strings which describe the data, allowing very readable code

In [35]:
# Let's define a dictionary and test some of the functionalities

example = {"a":1, "b":2, 3:"c"}

In [36]:
example["a"]

1

In [37]:
example[3]

'c'

In [38]:
example.keys()

dict_keys(['a', 'b', 3])

In [39]:
example["mass"] = list(range(10))

example

{'a': 1, 'b': 2, 3: 'c', 'mass': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}

### *What data type should I use?*

Do you need a logical key-value connection?
* If yes: use a dictionary


Do you need to ensure uniqueness of each element, or perhaps union or intersection operations?
* If yes: use a set


Do you need to ensure that the contents will never change?
* If yes: use a tuple

If you answered no to all of these, a list should suffice.

### *Arrays*

Arrays in practice are the same as a list, but have some special implementation of tracking data types under the hood, and allow some calculations to be automatically “vectorized”

* Can often speed up code
* There is a built-in array object, but in practice, most people use the NumPy array

The single most important thing to remember about arrays:
### ***LISTS AND ARRAYS ARE NOT THE SAME THING***

### *Lists vs. Arrays*

* Lists and arrays are ***different objects*** meant to store similar data
* Example: NumPy arrays allow multiplication with another array. A list does not.
* It’s probably safe to say that a large portion of all modern scientific code is written using NumPy arrays
* Advice: Pick one of either lists or arrays for a given program and stick to it

In [40]:
# Let's create a list and NumPy array to compare the differences

x = list(range(10))
y = np.array(range(10))

In [41]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [43]:
type(x)

list

In [44]:
type(y)

numpy.ndarray

In [45]:
y * y

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [46]:
x * x

TypeError: can't multiply sequence by non-int of type 'list'

You can use numerical operators on an array, but not a list!

### *Slicing*

Slicing is a technique used to pull multiple items from array-like objects

* General rule: start:stop:stepsize
* Start, stop, and stepsize can be omitted, and Python defaults to the beginning or end with a step size of 1, depending on what’s omitted
* Achieved by separating indices with a colon
* Negative step sizes go through the array in reverse order

In [47]:
x = list(range(10))

In [48]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
# Let's slice for a specific set of indices

x[2:5]

[2, 3, 4]

In [50]:
x[3:9]

[3, 4, 5, 6, 7, 8]

In [51]:
x[1:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
# If you want to start or stop the slice at the first or last element, then you can leave part of the slice blank.
# Let's slice from the first to second-to-last element

x[:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
# It works! Now, let's slice from a different element all the way to the end:

x[1:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
# Let's utilize the stepsize function of the array to slice every other element

x[1::2]

[1, 3, 5, 7, 9]

In [55]:
# Let's use the stepsize to look at the array backwards

x[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## **Conditonal Statements**

Conditional statements can be used to conduct different operations based on whether or not a given condition is satisfied

Uses boolean logic: True and False
* Note: Numbers can be used as well – anything nonzero evaluates to True.

Tip: Don’t compare to True and False
* if x == True and if x == False are simply if x and if not x

In [56]:
# Let's see an example of using if/elif/else statements as conditional statements 

x = 1

if x > 0:
    print("x is positive.")
elif x == 0:
    print("x is zero.")
else:
    print("x is negative.")

x is positive.

In [57]:
x = 0

if x > 0:
    print("x is positive.")
elif x == 0:
    print("x is zero.")
else:
    print("x is negative.")

x is zero.

In [58]:
x = -1

if x > 0:
    print("x is positive.")
elif x == 0:
    print("x is zero.")
else:
    print("x is negative.")

x is negative.

Note that *if/elif/else* blocks are executed *in order*. Be careful when picking the order of the statements. Let's see an example of where this might go wrong.

In [59]:
x = 1

if x >= 0:
    print("x is positive.")
elif x == 0:
    print("x is zero.")
else:
    print("x is negative.")

x is positive.

In [60]:
x = 0

if x >= 0:
    print("x is positive.")
elif x == 0:
    print("x is zero.")
else:
    print("x is negative.")

x is positive.

In [61]:
x = -1

if x >= 0:
    print("x is positive.")
elif x == 0:
    print("x is zero.")
else:
    print("x is negative.")

x is negative.

Notice that the above code printed out "x is positive" when x was equal to 0. If we had put the conditional statement *elif x == 0: print("x is zero")* first in the code block, it would have worked correctly.

## **Loops**

There are two types of loops:
* For- and while-loops

Both execute the same block of code some number of times

Both types of loops can be forced to terminate with the command “break”, and to start the next iteration with “continue”

### *For-loops*

For loops should be used when you know exactly how many times the block should repeat

Come in two flavors:
* Explicit for loop: “for i in <some iterable>” followed by an indented block (ex. top)
* Implicit for loop: occurs within a list comprehension (ex. bottom)
* Note that list comprehensions return a list, so you must type-cast to an array if you want to write your program using arrays

In [62]:
# Let's see an example of using a for loop:

for i in range(10):
    if i == 5: continue
    if i == 8: break
    print(i**2)

0
1
4
9
16
36
49

In [63]:
# Now let's try a list comprehension:

[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### *While-loops*

They should be used when you don’t know how many times the block should repeat
* You should break this rule when the alternate version is significantly more readable (this is quite universal advice)

*while True: <…> break* is not uncommon, but considered bad practice by some
* Advantage: The loop will *always* execute at least once. Other languages achieve this with what is called a do-while loop.

In [64]:
# Let's see an example of using a while loop:

import numpy as np

x = np.random.normal()

x

0.5755295046961179

In [65]:
while x < 0:
    print(x)
    x = np.random.normal()

In [66]:
x

0.5755295046961179

In [67]:
while x > 0:
    print(x)
    x = np.random.normal()

0.5755295046961179
0.7289995104304066

In [68]:
x = 0

In [69]:
while True:
    x += 1
    if x > 10:
        break

In [70]:
x

11

## **Functions**

* Often referred to as “methods” in other languages

* Created with the def keyword followed by an indented block. Between the def statement and the body of the function is where you should put a docstring.

* Astronomers (and scientists in general) are notorious for thin documentation if they document at all.

In [71]:
# Let's define a function:

def f(x):
    """
    Calculate the value of x squared.
    
    Parameters
    -----------
    x: real number
       The number to square

    Returns
    -----------
    y: real number
       The value of x squared.
    """
    return x**2

In [72]:
f(2)

4

In [73]:
f(13)

169

In [74]:
f(7.4)

54.760000000000005

### *Functions: The Implicit Return*

Unless otherwise specified, a function will return *None*.

In order to obtain an object from a function, you have to override this with a *return* statement

A note about variable scope: variables declared inside a function cannot be accessed outside the function.

In [75]:
# Let's look at the implicit return of functions

def f(x):
    """
    Calculate the value of x squared
    """
    print(x**2)
    # return (or: return None)

In [76]:
x = f(2)

4

In [77]:
x is None

True

In [78]:
def f(x):
    """
    Calculate the value of x squared
    """
    return x**2

In [79]:
x = f(2)

In [80]:
x is None

False

In [81]:
x

4

### *Functions: An Alternative for One-Liners*

One line function: *lambda*

By nature don’t have any error-handling or documentation attached to them, so should only be used when this isn’t necessary – a *lambda* worth documenting is better replaced by a *def* with a one-line *return* and a docstring

In [82]:
# Let's try using lambda to define functions

f = lambda x: x**2

In [83]:
f(3)

9

In [84]:
f(4)

16

In [85]:
g = lambda x: x.split()

In [86]:
g("An example string")

['An', 'example', 'string']

## **File Input/Output**

In this section, you will learn:

* how to write to a  text file with a standard library
* how to read that same text file with a standard library
* how NumPy simplifies things

### *An Example Output File*

Let's go through an example of opening a text file and writing information to it. Let's try wrtiing the integers 0 through 9 and their squares sepearated by tabs, with each integer-square pair on seperate lines.

In [89]:
with open("example.txt", "w") as f:
    for i in range(10):
        f.write(str(i))
        f.write("\t")
        f.write(str(i**2))
        f.write("\n")

Note: file I/O is typically done with a with statement – this functionally is the same as using  f = open(“example.txt”, ‘w’)

### *Better Code for an Example Output File*

In [90]:
# That works! But we can try something better:
# Makes use of string formatting: %d allows integers to be substituted in their place

with open("example.txt", "w") as f:
    for i in range(10):
        f.write("%d\t%d\n" % (i, i ** 2))

There are many ways to format a string in Python: The %-style notation will look familiar if you hav eexperience with C/C++. https://docs.python.org/3.10/library/string.html

### *An Example Input File*

Let's read in the same file and store it in a 2D-list!

In [91]:
# initialize the list
x = []

# using "with" syntax ensures that if there's an error while writing the file,
# the file will still be closed.
# otherwise, you'd need to end with f.close()
with open("example.txt", "r") as f:
    line = f.readline()
    while line != "":
        x.append([int(i) for i in line.split()])
        line = f.readline()

Note: Some argue that *append* is a bad idea when lists are larg, but others argue that the performance issues that arose are largely resolved.

### *A Much Simpler Approach*

File I/O is made easy with NumPy's *genfromtxt*, *savetxt*, etc. functions

These functions read and write 1-D and 2-D data to files.
* Caveat: The data must be square. Chances are you’ll get non-square data at some point

In the previous example, the entire *with* block can be replaced by:

In [92]:
import numpy as np
x = np.genfromtxt("example.txt")
x

array([[ 0.,  0.],
       [ 1.,  1.],
       [ 2.,  4.],
       [ 3.,  9.],
       [ 4., 16.],
       [ 5., 25.],
       [ 6., 36.],
       [ 7., 49.],
       [ 8., 64.],
       [ 9., 81.]])

*(Note however this returns a NumPy array, not a list)*